@import 'mixins';

.header-elo7 {
    position: relative;
    text-align: center;
    @include no-padding-t-b();
}

.header-elo7 h1 {    
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 5em;    
    font-weight: 700;
    text-shadow: 1px 1px 1px #000;
    bottom: 6.6em;
}

.header-elo7 p {
    padding: 1.6em 4em;
}