@import 'mixins.scss';
@import 'grid.scss';
@import 'base.scss';
@import 'elo7-header.scss';
@import 'elo7-ceo.scss';
@import 'elo7-team.scss';
@import 'elo7-opportunities.scss';

/* default */
.link-section {
    border-top: .1em #ccc solid;
    padding: 2em 1em;
    display: table;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 500;
}

.link-section:after {
    content: "\00BB";
    font-weight: 100;
    font-family: Arial;
}


/* Somente mobile */
@media (max-width: 480px) {
    .header-elo7 h1 {    
        bottom: 7em;
    }
    
    .opportunities ul li a {
        display: block;
    }
}
/* Somente mobile */

/* Somente tablet */
@media (min-width: 481px) and (max-width: 1023px) {	
    
}
/* Somente tablet */

/* Somente desktop */
@media (min-width: 1024px) {
}
/* Somente desktop */