
@import 'grid';
@import 'base';
@import 'elo7-header';
@import 'elo7-ceo';
@import 'elo7-team';
@import 'elo7-company';
@import 'elo7-opportunities';

/* default */
.link-section {
    border-top: .1em #ccc solid;
    padding: 2em 1em;
    display: table;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 500;
}

.link-section:after {
    content: "\00BB";
    font-weight: 100;
    font-family: Arial;
}

@media (max-width: 480px) {
    .header-elo7 h1 {    
        bottom: 7em;
    }
}