.sprite-company {
  background-image: url(../images/sprite-empresa.png);
  background-repeat: no-repeat;
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto; }

.the-company ul li {
  text-align: center; }

.the-company ul li h4 {
  margin: 2em 0; }

.the-company ul li p {
  text-align: justify;
  padding: 0 1em 2em 1em; }

.ambience {
  background-position: -151px 0px; }

.activities {
  background-position: -302px 0px; }
