video {
  width: 100%; }

.ceo-elo7 {
  background: #f8f8f8; }

.citation span {
  color: #f9a90e;
  font-style: italic;
  font-size: 1.6em;
  margin-top: .5em;
  margin-bottom: 2em;
  display: inherit; }

.citation p {
  width: 90%;
  padding-bottom: 0; }

@media (max-width: 1023px) {
  .box-video {
    margin-bottom: 4em; } }
